<div class="puzzle" id="<%= @puzzle_id %>">
  <div class="heading">
    <h1 class="x"><%= @puzzle.name %></h1>
    <h1><%= link_to "Back To Puzzles", root_path %></h1>
  </div>
  <div class="selection-menu closed">
    <div>Who is this?</div>
    <% @puzzle.characters.each do |character| %>
      <button><%= character.name %></button>
    <% end %>
  </div>
  <div class="success message closed">
    <div>Good job!</div>
  </div>
  <div class="try-again message closed">
    <div>Try again!</div>
  </div>
  <% @puzzle.characters.each do |character| %>
    <div class="<%= character.name %> marker closed"></div>
  <% end %>
  <%= image_tag(@puzzle.image_url, class: "puzzle-image") %>
  <div id="remaining-characters">
    <h5>Characters Left:<h5>
    <% @puzzle.characters.each do |character| %>
      <div class="remaining-character" id="<%= character.name %>">
        <%= image_tag(character.name, class: "character-image") %>
      </div>
    <% end %>
  </div>
</div>
