<div class="puzzle <%= controller_name %>" id="<%= @puzzle_id %>">
  <div class="heading">
    <h1><%= @puzzle.name %></h1>
    <h3 id="timer"></h3>
    <h1><%= link_to "Back To Puzzles", root_path %></h1>
  </div>
  <div class="selection-menu closed">
    <div>Who is this?</div>
    <% @puzzle.characters.each do |character| %>
      <button><%= character.name %></button>
    <% end %>
  </div>
  <div class="success message closed">
    <div>Good job!</div>
  </div>
  <div class="try-again message closed">
    <div>Try again!</div>
  </div>
  <div class="submit-score closed">
    <div>You found everyone! Submit your score below.</div>
    <div class="score"></div>
    <div class="score-form">
      <%= form_for(@score) do |f| %>
        <div><%= f.hidden_field :puzzle_id, :value => @puzzle.id %></div>
        <div>
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :score, "Score:" %>
          <%= f.text_field :score, :readonly => true %>
        </div>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
  <% @puzzle.characters.each do |character| %>
    <div class="<%= character.name %> marker closed"></div>
  <% end %>
  <%= image_tag(@puzzle.image_url, class: "puzzle-image") %>
  <div id="remaining-characters">
    <h5>Characters Left:<h5>
    <% @puzzle.characters.each do |character| %>
      <div class="remaining-character" id="<%= character.name %>">
        <%= image_tag(character.name, class: "character-image") %>
      </div>
    <% end %>
  </div>
</div>
